{
    "sprint": "",
    "workplace": {
        "local": "",
        "remote": ""
    },
    "sftp": {
        "hostname": "",
        "username": "",
        "password": "",
        "port": ""
    }
}
